@import "tailwindcss";

:root {
  --color-primary: #e6b7f9;
  --color-secondary: #8880ff;
  --color-tertiary: #fd9292;
  --color-accent: #9125bc;
  --color-background: ##000000;
  --color-text: #ffffff;
}

html {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
.signature,
.logo {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  line-height: 100%;
}

h1 {
  font-size: 4rem;
  font-style: italic;
}

h2 {
  font-size: 2.5rem;
  font-style: italic;
}

p {
  font-size: 1rem;
}

.app-gradient-sm {
  background-image: url("/gradient-bg-compact.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.app-gradient-lg {
  background-image: url("/gradient-bg-wide.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.template-tile div > p:first-of-type {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.hero-section strong {
  font-weight: 700;
  color: var(--color-primary);
}

button {
  font-weight: 600;
}

button:hover {
  opacity: 0.9;
  background-color: var(--color-tertiary);
  color: black;
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-tertiary {
  color: var(--color-tertiary);
}

.color-accent {
  color: var(--color-accent);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-accent {
  background-color: var(--color-accent);
}

.bg-ui-gradient {
  background: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
}

.logo {
  font-size: 1.5rem;
}

strong {
  font-weight: 700;
}

footer a span:hover {
  color: var(--color-tertiary);
}
